:root {
  --black-root: #011627ff;
  --white-root: #fdfffcff;
  --blue-tiffany: #2ec4b6ff;
  --red-rose: #e71d36ff;
  --orange-peel: #ff9f1cff;
}

body {
  background: var(--black-root);
  color: var(--white-root)
}

.add-task {
  border: 1px solid var(--white-root);
  border-radius: 5px;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-form {
  display: none;
}
.check-box {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--white-root);
  margin-right: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkmark {
  position: absolute;
  background: var(--white-root);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.7rem;
  display: none;
}
.task-box {
  display: flex;
  align-items: center;
}
.task-contents {
  display: flex;
  justify-content: space-between;
  width: 100%;
}